.contact{
  margin-top: 120px;
  padding-left: 275px;

  h2{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .contact_text{
    padding-bottom: 20px;

  }

  .contact_containers{
    display: flex;

    .contact_google_map{
      height: 300px;
      width: 50%;
    }

    .contact_info{
      margin-left: 10px;
      font-size: 14px;

      .contact_email{
        padding-bottom: 10px;
      }

    }
  }
}