.portfolio{
  .logo_portfolio{
    .logo_portfolio_img{
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 450px;
      margin: 0 auto;
    }
  }

  .photos_portfolio_img{
    display: flex;
    align-items: center;
    justify-content: center;

    .photo1_portfolio_img{
      height: 250px;
      width: auto;
    }
    .photo2_portfolio_img{
      height: 250px;
      width: auto;
    }
    .photo3_portfolio_img{
      height: 250px;
      width: auto;
    }
  }
}
